<launch>
    <arg name="robot_env" default="$(optenv ROBOT_ENV sim_simple)"/>
    <arg name="safety" default="true"/>

    <arg name="map_file" value="$(find rto_navigation)/maps/$(arg robot_env).yaml" />


    <!-- Run mapserver -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- Run AMCL -->
    <include file="$(find amcl)/examples/amcl_omni.launch" />

    <!-- Run move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find rto_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find rto_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find rto_navigation)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find rto_navigation)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find rto_navigation)/config/base_local_planner_params.yaml" command="load" />
        <!-- TODO: Probably exchange base local planner -->
        <param name="base_local_planner" value="rto_local_planner/RTOLocalPlanner" />
        <param name="controller_frequency" value="15.0" />
        <!-- <remap from="cmd_vel" to="rto_cmd_vel" /> -->
    </node>

    <!-- Run rto_safety_node -->
    <group if="$(arg safety)">
        <include file="$(find rto_safety)/launch/rto_safety_node.launch"/>    
    </group>
</launch>
