<launch>
    <arg name="hostname" default="127.0.1.1"/>
	<node pkg="robotino_node" type="robotino_node"
        name="robotino_node" output="screen">
		<param name="hostname" value="$(arg hostname)" />
		<param name="max_linear_vel" value="0.3" />
		<param name="min_linear_vel" value="0.05" />
		<param name="max_angular_vel" value="0.5" />
		<param name="min_angular_vel" value="0.01" />
		<remap from="robotino_joint_states" to="joint_states" />
		<!--remap from="image_raw" to="image"/-->
	</node>
  	<node pkg="robotino_node" type="robotino_odometry_node"
        name="robotino_odometry_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
  	</node>
	<node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="20.0" />
	</node>
  	<node pkg="robotino_node" type="robotino_mapping_node"
        name="robotino_mapping_node" output="screen">
        <param name="hostname" value="$(arg hostname)" />
  	</node>
  	<node pkg="tf" type="static_transform_publisher"
        name="laser_link_broadcaster"
        args="0.102 0 0.2315 0 0 0 base_link laser_link 100" />
  	<param name="robot_description"
        textfile="$(find robotino_description)/urdf/robotino.urdf" />
</launch>
